<% layout('layouts/boilerplate') %>



<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= burger.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= burger.title %></h5>
        <p class="card-text"><%= burger.description %>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= burger.location %></li>
      </ul>
      <div class="card-body">
        <a href="/burgers/<%=burger._id%>/edit" class="card-link btn btn-info">Edit</a>
        <form class="d-inline" action="/burgers/<%=burger._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>